<%- include("blogs-header") -%>

<body class="mine">

    <%- include("loading") -%>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a 
                class="btn btn-link navbar navbar-expand-lg bg-dark mx-3" 
                onclick='redirect(`<%= links.home.url %>`)'
                rel="noreferrer noopener" 
                role="button"
            >
                <i class="fa-solid fa-arrow-left-long"></i>  &nbsp;  <%= rootTexts.home.en %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
                    
                </ul>
                <div>
                    <ul class="navbar-nav me-3 ms-3 mb-2 mb-lg-0">
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link1.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link1'].en %>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link2.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link2'].en %>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link3.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link3'].en %>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link4.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link4'].en %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--====== Banner Area Start ======-->
	<section class="banner-section">
		<div class="banner-slider">
            <% for( let i = 0; i < Object.values(blogThumbnails).length; i++ ) { %>
                <% if ( Object.values(blogThumbnails)[i].featured === true ) { %>
                    <% if( category === "all" || Object.values(blogThumbnails)[i]['category-title'].includes(category) ){ %>
                        <div class="sinlge-banner">
                            <div class="banner-wrapper">
                                <div class="banner-bg" style="background-image: url(<%= Object.values(blogThumbnails)[i]['image'][0].url %>);"></div>
                                <div class="banner-content" data-animation="fadeInUp" data-delay="0.3s">
                                    <h3 class="title" data-animation="fadeInUp" data-delay="0.6s">
                                        <a href=<%= `/blogs/${Object.values(blogThumbnails)[i]['category-title']}/${Object.values(blogThumbnails)[i]['blog-title-link']}` %>>
                                            <%= Object.values(blogThumbnails)[i]['blog-title'] %>
                                        </a>
                                    </h3>
                                    <ul class="meta" data-animation="fadeInUp" data-delay="0.8s">
                                        <li><%= Object.values(blogThumbnails)[i]['authors-name'] %></li>
                                        <li>
                                            <% for(let j = 0; j < Object.values(blogThumbnails)[i].tags.length; j++) { %>
                                                <% if (j === 0) { %>
                                                    / <%= Object.values(blogThumbnails)[i].tags[j] %>
                                                <% } else { %>
                                                    , <%= Object.values(blogThumbnails)[i].tags[j] %>
                                                <% } %>
                                            <% } %>
                                        </li>
                                    </ul>
                                    <p data-animation="fadeInUp" data-delay="1s">
                                        <%= Object.values(blogThumbnails)[i]['blog-text'] %>
                                    </p>
                                    <a href=<%= `/blogs/${Object.values(blogThumbnails)[i]['category-title']}/${Object.values(blogThumbnails)[i]['blog-title-link']}` %> class="read-more" data-animation="fadeInUp" data-delay="1.2s">
                                        <%= rootTexts['read-more'].en %> <i class="fas fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
		</div>
		<div class="banner-nav"></div>
	</section>
	<!--====== Banner Area End ======-->

    <!--====== Post Area Start ======-->
	<section class="post-area with-sidebar" id="postWarpperLoaded">
		<div class="container container-1250">
			<div class="post-area-inner">
				<div class="entry-posts two-column masonary-posts row">
                    <!-- loop posts -->
                    <% let visibleBlogs = 2 %>
                    <% let show = "show" %>
                    <% let hidden = "hidden" %>
                    <% for( let i = 0; i < Object.values(blogThumbnails).length; i++ ) { %>
                        <% if( category === "all" || Object.values(blogThumbnails)[i]['category-title'].includes(category) ){ %>
                            <div class="col-lg-6 col-sm-6 index-<%= i %>  ">
                                <div class="entry-post">
                                    <div class="entry-thumbnail">
                                        <img src=<%= Object.values(blogThumbnails)[i]['image'][0].url %> alt="Image">
                                    </div>
                                    <div class="entry-content">
                                        <h4 class="title">
                                            <a href=<%= `/blogs/${Object.values(blogThumbnails)[i]['category-title']}/${Object.values(blogThumbnails)[i]['blog-title-link']}` %> >
                                                <%= Object.values(blogThumbnails)[i]['blog-title'] %>
                                            </a>
                                        </h4>
                                        <ul class="post-meta">
                                            <li class="date">
                                                <%= Object.values(blogThumbnails)[i].date %>
                                            </li>
                                            <li class="categories">
                                                <% for(let j = 0; j < Object.values(blogThumbnails)[i].tags.length; j++) { %>
                                                    <% if (j === 0) { %>
                                                        <%= Object.values(blogThumbnails)[i].tags[j] %>
                                                    <% } else { %>
                                                        , <%= Object.values(blogThumbnails)[i].tags[j] %>
                                                    <% } %>
                                                <% } %>
                                            </li>
                                        </ul>
                                        <p>
                                            <%= Object.values(blogThumbnails)[i]['blog-text'] %>
                                        </p>
                                        <a href=<%= `/blogs/${Object.values(blogThumbnails)[i]['category-title']}/${Object.values(blogThumbnails)[i]['blog-title-link']}` %> class="read-more">
                                            <%= rootTexts['read-more'].en %> <i class="fas fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
					
					<!-- <div class="col-12">
						<div class="text-center">
							<a class="load-more-btn">
                                <%= rootTexts['load-more'].en %>
                            </a>
						</div>
					</div> -->
				</div>

				<div class="primary-sidebar clearfix">
					<div class="sidebar-masonary row justify-content-center">
						<div class="col-lg-12 col-md-6 col-sm-8 widget author-widget">
							<div class="author-img">
								<img src=<%= images['fong-photo']['attachment'][0].url %> alt=<%= images['fong-photo'].alt %>>
							</div>
							<h5 class="widget-title">
                                <%= rootTexts['personal-title'].en %>
                            </h5>
							<p>
								<%= rootTexts['personal-message'].en %>
							</p>
							<div class="author-signature">
								<img src=<%= images['signature']['attachment'][0].url %> alt=<%= images['signature'].alt %>>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-8 widget categories-widget">
							<h5 class="widget-title">
                                <%= rootTexts['category-label'].en %>
                            </h5>
							<div class="categories">
                                <div class="categorie" style="background-image: url(<%= images['all-posts-category-img']['attachment'][0].url %>); opacity: <%= category === 'all' ? 0.7 : 1 %>">
                                    <% if( category === 'all' ) { %>
                                        <a class="active-category">
                                            <%= rootTexts['all'].en %>
                                        </a>
                                    <% } else { %>
                                        <a href='/blogs/all' >
                                            <%= rootTexts['all'].en %>
                                        </a>
                                    <% } %>
                                </div>
                                <% for(let i = 0; i < Object.values(blogCategories).length; i++) { %>
                                    <div class="categorie" style="background-image: url(<%= Object.values(blogCategories)[i]['image'][0].url %>); opacity: <%= category === Object.values(blogCategories)[i]['title'] ? 0.7 : 1 %>">
                                        <% if( category === Object.values(blogCategories)[i]['title'] ) { %>
                                            <a class="active-category">
                                                <%= Object.values(blogCategories)[i]['category-name'] %> 
                                            </a>
                                        <% } else { %>
                                            <a href=<%= `/blogs/${Object.values(blogCategories)[i]['title']}` %> >
                                                <%= Object.values(blogCategories)[i]['category-name'] %>
                                            </a>
                                        <% } %>
                                    </div>
                                <% } %>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-8 widget social-widget">
							<h5 class="widget-title">
                                <%= rootTexts['follow-me'].en %>
                            </h5>
							<div class="social-links">
                                <% for(let i =0; i < Object.values(blogThumbnails)[0]['social-media-names'].length ; i++){ %>
                                    <a href=<%= Object.values(blogThumbnails)[0]['social-media-links'][i] %>>
                                        <% switch( Object.values(blogThumbnails)[0]['social-media-titles'][i] ) {
                                            case "facebook": %>
                                                <i class="fab fa-facebook-f"></i>
                                                <% break;
                                            case "twitter": %>
                                                <i class="fab fa-twitter"></i>
                                                <% break;
                                            case "youtube": %>
                                                <i class="fab fa-youtube"></i>
                                                <% break;
                                            case "pinterest": %>
                                                <i class="fab fa-pinterest-p"></i>
                                                <% break;
                                            case "linkedin": %>
                                                <i class="fab fa-linkedin"></i>
                                                <% break;
                                            case "instagram": %>
                                                <i class="fab fa-instagram"></i>
                                                <% break;
                                        } %>
                                        <%= Object.values(blogThumbnails)[0]['social-media-names'][i] %>
                                    </a>
                                <% } %>
							</div>
						</div>
						<div class="col-lg-12 col-md-6 col-sm-8 widget popular-articles">
							<h5 class="widget-title">
                                <%= rootTexts['popular-article-label'].en %>
                            </h5>
							<div class="articles">
                                <% for( let i = 0; i < Object.values(blogThumbnails).length; i++ ) { %>
                                    <% if( category === "all" || Object.values(blogThumbnails)[i]['category-title'].includes(category) ){ %>
                                        <% if ( Object.values(blogThumbnails)[i].popularity === "popular" ) { %>
                                            <div class="article">
                                                <div class="thumb">
                                                    <img src=<%= Object.values(blogThumbnails)[i]['image'][0].url %> alt="image">
                                                </div>
                                                <div class="desc">
                                                    <h6>
                                                        <a href=<%= `/blogs/${Object.values(blogThumbnails)[i]['category-title']}/${Object.values(blogThumbnails)[i]['blog-title-link']}` %>>
                                                            <%= Object.values(blogThumbnails)[i]['blog-title'] %>
                                                        </a>
                                                    </h6>
                                                    <span class="post-date">
                                                        <%= Object.values(blogThumbnails)[i].date %>
                                                    </span>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                <% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Post Area End ======-->

    <%- include("sections") -%> 

    <%- include("blogsJsPackage") %>

    <script>
        let visibleBlogs = <%= visibleBlogs %>
        let amountOfIncrements = 2;
        $( ".load-more-btn" ).click(function() {
            for(let i = 0; i < amountOfIncrements; i++) {
                $(".index-" + visibleBlogs).removeClass('hidden');
                visibleBlogs++
            }
        });
    </script>

<%- include("footer") -%>