    <section id="footer">
        <div class="footer-header ubuntu-h3-48px-bold">
            <%= footerRootTexts.greeting.en %>
        </div>
        <div class="footer-email ubuntu-body1-18px-regular">
            <%= footerRootTexts.email.en %>
        </div>
        <div class="footer-links">
            <div class="footer-links-1">
                <a 
                    class="footer-links-link btn btn-link"
                    href=<%= footerLinks.instagram.url %>
                    target='_blank'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-1'].en %>
                </a>
            </div>
            <div class="footer-links-2">
                <a 
                    class="footer-links-link btn btn-link"
                    href=<%= footerLinks.linkedin.url %>
                    target='_blank'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-2'].en %>
                </a>
            </div>
            <div class="footer-links-3">
                <a 
                    class="footer-links-link btn btn-link"
                    href=<%= footerLinks.photography.url %>
                    target='_blank'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-3'].en %>
                </a>
            </div>
            <div class="footer-links-4">
                <a 
                    class="footer-links-link btn btn-link"
                    href=<%= footerLinks.graphics.url %>
                    target='_blank'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-4'].en %>
                </a>
            </div>
        </div>
        <% const date = new Date(); %>
        <% let currYear = date.getYear(); %>
        <% currYear = currYear + 1900; %>
        <div class="footer-hr">
            <div class='hr-tertiary'></div>
        </div>
        <div class="footer-patent">
            <p class="ubuntu-body1-18px-regular">© <%= currYear %> Fong Feng-En Chou.</p>
        </div>
    </section>
    

</html>