    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <section id="footer" data-scroll-section>

        <div class="footer-backToTop">
            <a 
                class="footer-backToTop-a btn btn-link" 
                rel="noreferrer noopener" 
                role="button"
              >
                <i class="fa-solid fa-arrow-up-long"></i>  &nbsp;  <%= footerRootTexts.backToTop.en %>
            </a>
        </div>

        <div class="footer-header ubuntu-h3-48px-bold">
            <%= footerRootTexts.greeting.en %>
        </div>
        <div class="footer-email ubuntu-body1-18px-regular">
            <%= footerRootTexts.email.en %>
        </div>
        <div class="footer-links">
            <div class="footer-links-1">
                <a 
                    class="footer-links-link btn btn-link"
                    onclick='redirect(`<%= footerLinks.home.url %>`)'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-1'].en %>
                </a>
            </div>
            <div class="footer-links-2">
                <a 
                    class="footer-links-link btn btn-link"
                    href=<%= footerLinks.instagram.url %>
                    target='_blank'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-2'].en %>
                </a>
            </div>
            <div class="footer-links-3">
                <a 
                    class="footer-links-link btn btn-link"
                    href=<%= footerLinks.linkedin.url %>
                    target='_blank'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-3'].en %>
                </a>
            </div>
            <div class="footer-links-4">
                <a 
                    class="footer-links-link btn btn-link"
                    onclick='redirect(`<%= footerLinks.design.url %>`)'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-4'].en %>
                </a>
            </div>
            <div class="footer-links-5">
                <a 
                    class="footer-links-link btn btn-link"
                    onclick='redirect(`<%= footerLinks.photography.url %>`)'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-5'].en %>
                </a>
            </div>
            <div class="footer-links-6">
                <a 
                    class="footer-links-link btn btn-link"
                    onclick='redirect(`<%= footerLinks.graphics.url %>`)'
                    rel="noreferrer noopener"
                    role="button"
                >
                    <%= footerRootTexts['extra-link-6'].en %>
                </a>
            </div>
        </div>
        <% const date = new Date(); %>
        <% let currYear = date.getYear(); %>
        <% currYear = currYear + 1900; %>
        <div class="footer-hr">
            <div class='hr-tertiary'></div>
        </div>
        <div class="footer-patent">
            <p class="ubuntu-body1-18px-regular">© <%= currYear %> Fong Feng-En Chou.</p>
        </div>
    </section>
    
    <script>
        $('.footer-backToTop').click(function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
            // $(this).toggleClass('on');
            // $('.DownvoteButton').removeClass('on');
        });

        //transition
        function startTransitionOverlay() {
        document.getElementById("globalLightTransitionCover").classList.add('show-globalLightTransitionCover');
        }
        function endTransitionOverlay() {
            document.getElementById("globalLightTransitionCover").classList.add('hide-globalLightTransitionCover');
        }
        function redirectAction(url) {
            window.location.href = url;
        }
        function redirect(url) {
            endTransitionOverlay();
            const myTimeout = setTimeout(redirectAction(url), 300);
        }
        startTransitionOverlay()
    </script>
    <script src="js/locomotive-scroll.min.js"></script>
    <script>
        (function () {
            var scroll = new LocomotiveScroll({
              el: document.querySelector('[data-scroll-container]'),
              smooth: true,
              multiplier: 0.8
            });
        })() ;
    </script>

</html>