    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <section id="footer" data-scroll-section>

        <div class="footer-backToTop" data-scroll data-scroll-call="call">
            <a 
                class="footer-backToTop-a btn btn-link" 
                rel="noreferrer noopener" 
                role="button"
              >
                <i class="fa-solid fa-arrow-up-long"></i>  &nbsp;  <%= footerRootTexts.backToTop[`${language}`] %>
            </a>
        </div>

        <div class="footer-header ubuntu-h3-48px-bold">
            <%= footerRootTexts.greeting[`${language}`] %>
        </div>
        <div class="footer-email ubuntu-body1-18px-regular">
            <%= footerRootTexts.email[`${language}`] %>
        </div>
        <div class="footer-links">
            <% let currNumber = 1; %>
            <% let linkLabel = 'link' + currNumber ;%>
            <% while ( footerRootTexts[linkLabel] ) { %>
                <div class='<% 'footer-links-' + currNumber %>'>
                    <a 
                        class="footer-links-link btn btn-link"
                        onclick='redirect(`<%= footerLinks[linkLabel].url %>`)'
                        rel="noreferrer noopener"
                        role="button"
                        >
                        <%= footerRootTexts[linkLabel][`${language}`] %>
                    </a>
                </div>
                <% currNumber++ %>
                <% linkLabel = 'link' + currNumber %>
            <% } %>

        </div>
        <% const date = new Date(); %>
        <% let currYear = date.getYear(); %>
        <% currYear = currYear + 1900; %>
        <div class="footer-hr">
            <div class='hr-tertiary'></div>
        </div>
        <div class="footer-patent">
            <p class="ubuntu-body1-18px-regular">© <%= currYear %> Fong Feng-En Chou.</p>
        </div>
    </section>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
        $('.footer-backToTop').click(function () {

            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
    </body>

</html>