
<%- include("header") -%>
<body class="mine">
  <div data-scroll-container>

  <%- include("loading") -%>
    <!-- New Section 1 -->
    <section id="hero" data-scroll-section>
      <div class="hero-nameAndLogo">
        <img
          class="hero-nameAndLogo-logo"
          src="<%= images.logo.attachment[0].url %>"
        >
        <div class="hero-nameAndLogo-name ubuntu-9xl-144px-bold">
          <%= rootTexts['my-name'].en %>
        </div>
      </div>
      <div class="hero-infoAndDescription">
        <div class="hero-infoAndDescription-info">
          <div class="hero-infoAndDescription-info-email ubuntu-body1-18px-regular">
            <p>
              <%= rootTexts.email.en %>
            </p>
          </div>
          <div class="hero-infoAndDescription-info-title ubuntu-h5-24px-bold">
            <div class="hero-infoAndDescription-info-title-1">
              <%= rootTexts['roll-1'].en %>
            </div>
            <div class="hero-infoAndDescription-info-title-2">
              <%= rootTexts['roll-2'].en %>
            </div>
          </div>
        </div>
        <div class="hero-infoAndDescription-description">
          <div class="hero-infoAndDescription-description-aboutMe ubuntu-body1-18px-regular">
            <%= rootTexts['what-i-do'].en %>
          </div>
          <div class="hero-infoAndDescription-description-links ubuntu-body1-18px-regular">
            <div class="hero-infoAndDescription-description-links-link">
              <a class="btn btn-link" href=<%= links.instagram.url %> target='_blank' rel="noreferrer noopener" role="button" >
                <%= rootTexts['extra-link-1'].en %>
              </a>
            </div>
            <div class="hero-infoAndDescription-description-links-link">
              <a class="btn btn-link" href=<%= links.linkedin.url %> target='_blank' rel="noreferrer noopener" role="button" >
                <%= rootTexts['extra-link-2'].en %>
              </a>
            </div>
            <div class="hero-infoAndDescription-description-links-link">
              <a 
                class="btn btn-link" 
                onclick='redirect(`<%= links.photography.url %> `)'
                rel="noreferrer noopener" 
                role="button"
              >
                <%= rootTexts['extra-link-3'].en %>
              </a>
            </div>
            <div class="hero-infoAndDescription-description-links-link">
              <a class="btn btn-link" 
                onclick='redirect(`<%= links.graphics.url %>`)'
                rel="noreferrer noopener" role="button" >
                <%= rootTexts['extra-link-4'].en %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-hr">
        <div class='hr-main'></div>
      </div>
    </section>

    <!-- New Section 2 -->
    <section id="projects" data-scroll-section>
      <% for( let i = 0; i < Object.values(projects).length; i++ ) { %>
      
        <div class="projects-project">
          <div class="projects-project-texts" >
            <div class="projects-project-texts-title ubuntu-body1-18px-medium" >
              <%= Object.values(projects)[i]['project-label'] %>
            </div>
            <div class="projects-project-texts-content" >
              <div class="projects-project-texts-content-title ubuntu-h3-48px-bold">
                <%= Object.values(projects)[i]['title-en'] %>
              </div>
              <div class="projects-project-texts-content-subtitle">
                <%= Object.values(projects)[i]['subtitle-en'] %>
              </div>
              <div class="projects-project-texts-content-description">
                <%= Object.values(projects)[i]['description-en'] %>
              </div>
              <div class="projects-project-texts-content-button">
                <a 
                  class="btn btn-link" 
                  onclick='redirect(`<%= Object.values(projects)[i].url %>`)'
                  rel="noreferrer noopener" 
                  role="button"
                >
                  <%= rootTexts['project-button'].en %> &nbsp; <i class="fa-solid fa-arrow-right-long"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="projects-project-device">
            <% if ( Object.values(projects)[i].device === 'laptop' ) { %>
              <div class="projects-project-device-macbook">
                <div 
                  class="projects-project-device-macbook-maskGroup-videoHolder"
                >
                  <video class="projects-project-device-macbook-maskGroup-video" defaultMuted oncontextmenu="return false;" preload="auto" autoplay muted loop playsinline>
                    <source 
                      src=<%= Object.values(projects)[i]['attachment'][0].url %>
                      type="video/mp4"
                    >
                    <source
                      src=<%= Object.values(projects)[i]['attachment'][0].url %>
                      type="video/ogg"
                    >
                  Your browser does not support the video tag.
                  </video>
                </div>
                <div 
                  class="projects-project-device-macbook-maskGroup"
                  style="
                    mask-image: url(<%= images['macbook-mask'].attachment[0].url %>);
                    -webkit-mask-image: url(<%= images['macbook-mask'].attachment[0].url %>);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    mask-size: 100%;
                    -webkit-mask-size: 100%;  
                  "
                >
                  <img
                    class="projects-project-device-macbook-macbookBody"
                    src=<%= images['macbook-body'].attachment[0].url %>
                    <!-- mask="url(#mask)" -->
                  >
                </div>
              </div>
            <% } else if ( Object.values(projects)[i].device === 'mobile' ) { %>
              <div class="projects-project-device-mobile">
                <div class="projects-project-device-mobile-videoHolder">
                  <video class="projects-project-device-mobile-videoHolder-video" defaultMuted oncontextmenu="return false;" preload="auto" autoplay muted loop playsinline>
                    <source 
                      src=<%= Object.values(projects)[i]['attachment'][0].url %>
                      type="video/mp4"
                    >
                    <source
                      src=<%= Object.values(projects)[i]['attachment'][0].url %>
                      type="video/ogg"
                    >
                  Your browser does not support the video tag.
                  </video>
                </div>
                <div 
                  class="projects-project-device-mobile-maskGroup"
                  style="
                    mask-image: url(<%= images['mobile-mask'].attachment[0].url %>);
                    -webkit-mask-image: url(<%= images['mobile-mask'].attachment[0].url %>);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    mask-size: 100%;
                    -webkit-mask-size: 100%;  
                  "
                >
                  <img
                    class="projects-project-device-mobile-mobileBody"
                    src=<%= images['mobile-body'].attachment[0].url %>
                  >
                </div>
              </div>
            <% } %>
          </div>
        </div>
        <div class="projects-hr">
          <div class='hr-secondary'></div>
        </div>
      <% } %>
    </section>

    <!-- New Section 3 -->
    <section id="aboutMe" data-scroll-section>
      <div class="aboutMe-header ubuntu-h3-48px-bold">
        <%= rootTexts['about-title'].en %>
      </div>
      <div class="aboutMe-content">
        <div class="aboutMe-content-portraitHolder">
          <img 
            class="aboutMe-content-portraitHolder-portrait"
            src=<%= images['fong-photo'].attachment[0].url %>
            alt=<%= images['fong-photo'].alt %>
          >
        </div>
        <div class="aboutMe-content-texts">
          <div class="aboutMe-content-texts-title ubuntu-h5-24px-bold">
            <%= rootTexts['about-greeting'].en %>
          </div>
          <div class="aboutMe-content-texts-description ubuntu-body1-18px-light">
            <%= rootTexts['about-description'].en %>
          </div>
        </div>
      </div>
      <div class="aboutMe-hr">
        <div class='hr-tertiary'></div>
      </div>
    </section>

    <!-- New Section 4 -->
    <section id="services" data-scroll-section>
      <div class="services-header">
        <div class="services-header-title ubuntu-h3-48px-bold">
          <%= rootTexts['services-title'].en %>
        </div>
        <div class="services-header-description ubuntu-body1-18px-light">
          <%= rootTexts['services-content'].en %>
        </div>
      </div>
      <div class="services-content">
        <div class="services-content-group">
          <div class="services-content-group-item">
            <div class="services-content-group-item-title ubuntu-h5-24px-bold">
              <%= rootTexts['services-item-title-1'].en %>
            </div>
            <div class="services-content-group-item-description ubuntu-body1-18px-light">
              <%= rootTexts['services-item-description-1'].en %>
            </div>
          </div>
          <div class="services-content-group-item">
            <div class="services-content-group-item-title ubuntu-h5-24px-bold">
              <%= rootTexts['services-item-title-2'].en %>
            </div>
            <div class="services-content-group-item-description ubuntu-body1-18px-light">
              <%= rootTexts['services-item-description-2'].en %>
            </div>
          </div>
        </div>
        <div class="services-content-group">
          <div class="services-content-group-item">
            <div class="services-content-group-item-title ubuntu-h5-24px-bold">
              <%= rootTexts['services-item-title-3'].en %>
            </div>
            <div class="services-content-group-item-description ubuntu-body1-18px-light">
              <%= rootTexts['services-item-description-3'].en %>
            </div>
          </div>
          <div class="services-content-group-item">
            <div class="services-content-group-item-title ubuntu-h5-24px-bold">
              <%= rootTexts['services-item-title-4'].en %>
            </div>
            <div class="services-content-group-item-description ubuntu-body1-18px-light">
              <%= rootTexts['services-item-description-4'].en %>
            </div>
          </div>
        </div>
      </div>
      <div class="services-hr">
        <div class='hr-tertiary'></div>
      </div>
    </section>

    <!-- New Section 5 -->
    <section id="sections">
      <% for( let i = 0; i < Object.values(sections).length; i++ ) { %>
        <% if ( Object.values(sections)[i].type === 'textCards' ) { %>
          <div class="sections-texCards">
            <div class="sections-section-header">
              <div class="sections-section-title ubuntu-h3-48px-bold">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="sections-section-description ubuntu-body1-18px-light">
                <%= Object.values(sections)[i]['subtitle-en'] %>
              </div>
            </div>
            <div class="sections-texCards-cards">
              <% for( let j = 0; j < Object.values(sections)[i]['card-links'].length; j++ ) { %>
                <div class="sections-textCards-cards-item">
                  <div class="sections-textCards-cards-item-subtitle ubuntu-body2-14px-bold">
                    <%= cards[Object.values(sections)[i]['card-links-title'][j]].subtitle %>
                  </div>
                  <div class="sections-textCards-cards-item-cardTitle ubuntu-body1-18px-bold">
                    <%= cards[Object.values(sections)[i]['card-links-title'][j]]['card-title'] %>
                  </div>
                  <% let featuresCount = 1 %>
                  <% while(cards[Object.values(sections)[i]['card-links-title'][j]]['feature-' + featuresCount]){ %>
                    <div class="sections-textCards-cards-item-feature ubuntu-body2-14px-light">
                      <%= cards[Object.values(sections)[i]['card-links-title'][j]]['feature-' + featuresCount] %>
                    </div>
                    <% featuresCount++ %>
                  <% } %>
                  <div class="sections-textCards-cards-item-cardSubtitle ubuntu-body2-14px-medium">
                    <%= cards[Object.values(sections)[i]['card-links-title'][j]]['card-subtitle'] %>
                  </div>
                  <% let cardSubtitleItemCount = 1 %>
                  <% while(cards[Object.values(sections)[i]['card-links-title'][j]]['card-subtitle-item-' + cardSubtitleItemCount]){ %>
                    <div class="sections-textCards-cards-item-CardSubtitle-item ubuntu-body2-14px-light">
                      <span class="sections-textCards-cards-item-CardSubtitle-item-dot">
                        <i class="fa-solid fa-circle fa-2xs"></i>
                      </span>
                      &nbsp;
                      <%= cards[Object.values(sections)[i]['card-links-title'][j]]['card-subtitle-item-' + cardSubtitleItemCount] %>
                    </div>
                    <% cardSubtitleItemCount++ %>
                  <% } %>
                  <div class="sections-textCards-cards-item-note ubuntu-body2-14px-light">
                    <%= cards[Object.values(sections)[i]['card-links-title'][j]]['note'] %>
                  </div>
                  <div class="sections-textCards-cards-item-hightlightText ubuntu-body1-18px-bold">
                    <span class="sections-textCards-cards-item-hightlightText-dot">
                      <i class="fa-solid fa-circle"></i>
                    </span>
                    &nbsp;
                    <%= cards[Object.values(sections)[i]['card-links-title'][j]]['highlight-text'] %>
                  </div>
                  <!-- <div class="sections-textCards-cards-item-subActionText ubuntu-body1-18px-regular">
                    <a 
                      class="btn btn-link" 
                      onclick='redirect(`<%= cards[Object.values(sections)[i]['card-links-title'][j]]['sub-action-link'] %>`)'
                      rel="noreferrer noopener" 
                      role="button"
                    >
                      <%= cards[Object.values(sections)[i]['card-links-title'][j]]['sub-action-text'] %> &nbsp; <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                  </div> -->
                  <div class="sections-textCards-cards-item-cta ubuntu-body1-18px-bold">
                    <a 
                        class="project-cta-button-text-primary" 
                        href=<%= cards[Object.values(sections)[i]['card-links-title'][j]]['cta-link'] %> 
                        rel="noreferrer noopener" 
                        role="button"
                        target='_blank'
                    >
                      <button type="button" class="btn btn-primary ubuntu-body1-18px-regular" >
                        <%= cards[Object.values(sections)[i]['card-links-title'][j]].cta %>
                      </button>
                    </a>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="hr">
              <div class='hr-tertiary'></div>
            </div>
          </div>
        <% } %>

        <% if ( Object.values(sections)[i].type === 'simpleImageTextCards' ) { %>
          <div class="sections-simpleImageTextCards">
            <div class="sections-section-title ubuntu-h3-48px-bold">
              <%= Object.values(sections)[i]['title-en'] %>
            </div>
            <div class="sections-simpleImageTextCards-cards">
              <% for( let j = 0; j < Object.values(sections)[i]['card-links'].length; j++ ) { %>
                <div class="sections-simpleImageTextCards-cards-item">
                  <div class="sections-simpleImageTextCards-cards-item-imageHolder">
                    <img
                      class="sections-holdedImage-img"
                      src=<%= cards[Object.values(sections)[i]['card-links-title'][j]]['image-1'][0].url %>
                    >
                  </div>
                  <div class="sections-simpleImageTextCards-cards-item-texts">
                    <div class="sections-simpleImageTextCards-cards-item-texts-title ubuntu-body1-18px-bold">
                      <%= cards[Object.values(sections)[i]['card-links-title'][j]]['card-title'] %>
                    </div>
                    <div class="sections-simpleImageTextCards-cards-item-texts-content ubuntu-body2-14px-light">
                      <%= cards[Object.values(sections)[i]['card-links-title'][j]]['subtitle'] %>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="hr">
              <div class='hr-tertiary'></div>
            </div>
          </div>
        <% } %>

        <% if ( Object.values(sections)[i].type === 'testimonialCards' ) { %>
          <div class="sections-testimonialCards">
            <div class="sections-section-header">
              <div class="sections-section-title ubuntu-h3-48px-bold">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="sections-section-description ubuntu-body1-18px-light">
                <%= Object.values(sections)[i]['subtitle-en'] %>
              </div>
            </div>
            <div class="sections-testimonialCards-cards">
              <% for( let j = 0; j < Object.values(sections)[i]['card-links'].length; j++ ) { %>
                <div class="sections-testimonialCards-cards-item">
                  <div class="sections-testimonialCards-cards-item-textBox ubuntu-body2-14px-light">
                    <%= cards[Object.values(sections)[i]['card-links-title'][j]]['subtitle'] %>
                  </div>
                  <div class="sections-testimonialCards-cards-item-personBox">
                    <% if(cards[Object.values(sections)[i]['card-links-title'][j]]['image-1']){ %>
                      <div class="sections-testimonialCards-cards-item-personBox-imageHolder">
                        <img
                          class="sections-holdedImage-img"
                          src=<%= cards[Object.values(sections)[i]['card-links-title'][j]]['image-1'][0].thumbnails.large.url %>
                        >
                      </div>
                    <% } %>
                    <div class="sections-testimonialCards-cards-item-personBox-texts">
                      <div class="sections-testimonialCards-cards-item-personBox-texts-title ubuntu-body1-18px-bold">
                        <%= cards[Object.values(sections)[i]['card-links-title'][j]]['card-title'] %>
                      </div>
                      <div class="sections-testimonialCards-cards-item-personBox-texts-subtitle ubuntu-body2-14px-light">
                        <%= cards[Object.values(sections)[i]['card-links-title'][j]]['feature-1'] %>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="hr">
              <div class='hr-tertiary'></div>
            </div>
          </div>
        <% } %>

        <% if ( Object.values(sections)[i].type === 'largeTitleImageTextsButtons' ) { %>
          <div class="sections-largeTitleImageTextsButtons">
            <div class="sections-largeTitleImageTextsButtons-title ubuntu-9xl-144px-light">
              <%= Object.values(sections)[i]['title-en'] %>
              <%= Object.values(sections)[i]['subtitle-en'] %>
            </div>
            <div class="sections-largeTitleImageTextsButtons-infoBox">
              <div class="sections-largeTitleImageTextsButtons-infoBox-imageHolder">
                <img
                  class="sections-holdedImage-img"
                  src=<%= Object.values(sections)[i].attachment[0].url %>
                >
              </div>
              <div class="sections-largeTitleImageTextsButtons-infoBox-texts ubuntu-body1-18px-bold">
                <div class="sections-largeTitleImageTextsButtons-infoBox-texts-title">
                  <%= Object.values(sections)[i]['description-en'] %>
                </div>
                <div class="sections-largeTitleImageTextsButtons-infoBox-texts-content">
                  <div class="sections-largeTitleImageTextsButtons-infoBox-texts-email ubuntu-body1-18px-light">
                    <%= Object.values(sections)[i]['text-1'] %>
                  </div>
                  <div class="sections-largeTitleImageTextsButtons-infoBox-texts-actions">
                    <div class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-title ubuntu-body1-18px-light">
                      <%= Object.values(sections)[i]['text-2'] %>
                    </div>
                    <div class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-main">
                      <!-- button main -->
                      <a 
                          class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-subs-a" 
                          href=<%= Object.values(sections)[i]['action-1-link'] %>
                          rel="noreferrer noopener" 
                          role="button"
                          target='_blank'
                      >
                        <button type="button" class="btn btn-primary ubuntu-body1-18px-regular" >
                          <%= Object.values(sections)[i]['action-1'] %>
                        </button>
                      </a>
                    </div>
                    <div class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-subs">
                      <!-- button 1 -->
                      <a 
                          class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-subs-a" 
                          href=<%= Object.values(sections)[i]['action-2-link'] %>
                          rel="noreferrer noopener" 
                          role="button"
                          target='_blank'
                      >
                        <button type="button" class="btn btn-outline-primary ubuntu-body1-18px-regular" >
                          <%= Object.values(sections)[i]['action-2'] %>
                        </button>
                      </a>
                      <!-- button 2 -->
                      <a 
                          class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-subs-a" 
                          href=<%= Object.values(sections)[i]['action-3-link'] %>
                          rel="noreferrer noopener" 
                          role="button"
                          target='_blank'
                      >
                        <button type="button" class="btn btn-outline-primary ubuntu-body1-18px-regular" >
                          <%= Object.values(sections)[i]['action-3'] %>
                        </button>
                      </a>
                      <!-- button 3 -->
                      <a 
                          class="sections-largeTitleImageTextsButtons-infoBox-texts-actions-subs-a" 
                          href=<%= Object.values(sections)[i]['action-4-link'] %>
                          rel="noreferrer noopener" 
                          role="button"
                          target='_blank'
                      >
                        <button type="button" class="btn btn-outline-primary ubuntu-body1-18px-regular" >
                          <%= Object.values(sections)[i]['action-4'] %>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hr">
              <div class='hr-tertiary'></div>
            </div>
          </div>
        <% } %>

      <% } %>
    </section>

<%- include("footer") -%>