<%- include("header") -%>

<body class="photography">

  <section id="photography-board">
    <nav class="navbar navbar-expand-lg navbar-dark photography-board-nav">
      <div class="container-fluid">
        <a 
          class="navbar-brand" 
          href=<%= rootTexts['design-works-url'].en %>
        >
          <img
            class="photography-board-logo"
            src=<%= images.logo.attachment[0].url %>
          >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a 
                class="nav-link" 
                href=<%= rootTexts['design-works-url'].en %>
              >
                <%= rootTexts['design-works'].en %>
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link active" 
                aria-current="page" 
                href=<%= links['lockdown'].url %>
              >
                <%= rootTexts['gallery'].en %>
              </a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link" 
                href=<%= rootTexts['contact-url'].en %>
              >
                <%= rootTexts['contact'].en %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="photography-board-content">
      <div class="photography-board-content-navLinks">
        <% for( let i = 0; i < Object.values(links).length; i++ ) { %>
          <div class="photography-board-content-navLinks-link">
            <% if ( page.indexOf(Object.values(links)[i].title) !== -1 ) { %>
              <a 
                class="photography-board-content-activePage" 
                href=<%= links[Object.values(links)[i].title].url %> 
                rel="noreferrer noopener" 
                role="button" 
              >
                <%= rootTexts[Object.values(links)[i].title].en %>
              </a>
            <% } else { %>
              <a 
                class="btn btn-link" 
                href=<%= links[Object.values(links)[i].title].url %>
                rel="noreferrer noopener" 
                role="button" 
              >
                <%= rootTexts[Object.values(links)[i].title].en %>
              </a>
            <% } %>
          </div>
        <% } %>
      </div>
      <div class="photography-board-content-sections">
        <% for( let i = 0; i < Object.values(sections).length; i++ ) { %>
          <% console.log(i) %>
          <% if ( Object.values(sections)[i].type === 'image-top' ) { %>
            <div class="photography-board-content-sections-imageTop">
              <img 
                class="photography-board-content-sections-image"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-middle' ) { %>
            <div class="photography-board-content-sections-imageMiddle">
              <img 
                class="photography-board-content-sections-image"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-bottom' ) { %>
            <div class="photography-board-content-sections-imageBottom">
              <img 
                class="photography-board-content-sections-image"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-top-medium' ) { %>
            <div class="photography-board-content-sections-imageTop">
              <img 
                class="photography-board-content-sections-image-medium"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-middle-medium' ) { %>
            <div class="photography-board-content-sections-imageMiddle">
              <img 
                class="photography-board-content-sections-image-medium"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-bottom-medium' ) { %>
            <div class="photography-board-content-sections-imageBottom">
              <img 
                class="photography-board-content-sections-image-medium"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-top-small' ) { %>
            <div class="photography-board-content-sections-imageTop">
              <img 
                class="photography-board-content-sections-image-small"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-middle-small' ) { %>
            <div class="photography-board-content-sections-imageMiddle">
              <img 
                class="photography-board-content-sections-image-small"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-bottom-small' ) { %>
            <div class="photography-board-content-sections-imageBottom">
              <img 
                class="photography-board-content-sections-image-small"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'text-top' ) { %>
            <div class="photography-board-content-sections-textTop">
              <div class="photography-board-content-sections-textTitle ubuntu-h5-24px-bold">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="photography-board-content-sections-textDescription">
                <%= Object.values(sections)[i]['description-en'] %>
              </div>
            </div>
          <%} else if ( Object.values(sections)[i].type === 'text-middle' ) { %>
            <div class="photography-board-content-sections-textMiddle ubuntu-h5-24px-bold">
              <div class="photography-board-content-sections-textTitle">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="photography-board-content-sections-textDescription">
                <%= Object.values(sections)[i]['description-en'] %>
              </div>
            </div>
          <% } else if ( Object.values(sections)[i].type === 'text-bottom' ) { %>
            <div class="photography-board-content-sections-textBottom ubuntu-h5-24px-bold">
              <div class="photography-board-content-sections-textTitle">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="photography-board-content-sections-textDescription">
                <%= Object.values(sections)[i]['description-en'] %>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </section>

  
  <script>

    const element = document.querySelector(".photography-board-content-sections");

    element.addEventListener('wheel', (event) => {
      event.preventDefault();

      element.scrollBy({
        left: event.deltaY < 0 ? -30 : 30,
        
      });
    });
  
  </script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="index.js" charset="utf-8"></script> -->

</body>
</html>
<%- include("footer") -%>
