<%- include("header") -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body class="photography">

  <div id="globalLightTransitionCover">
    <div class="globalLightTransitionCover-animation-box">
      <div class="globalLightTransitionCover-animation-spinContainer">
        <div class="globalLightTransitionCover-animation-holder">
          <div class="globalLightTransitionCover-animation-holder-bd">
            <img 
              class="globalLightTransitionCover-animation-img"
              src='<%= images.loading.attachment[0].url %>'
              alt='<%= images.loading.alt %>'
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="photography-board">
    <nav class="navbar navbar-expand-lg navbar-dark photography-board-nav">
      <div class="container-fluid">
        <a 
          class="navbar-brand" 
          onclick='redirect(`<%= rootTexts['design-works-url'].en %>`)'
        >
          <img
            class="photography-board-logo"
            src=<%= images.logo.attachment[0].url %>
          >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a 
                class="nav-link" 
                onclick='redirect(`<%= rootTexts['design-works-url'].en %>`)'
              >
                <%= rootTexts['design-works'].en %>
              </a>
            </li>
            <li class="nav-item photography-board-nav-gallery">
              <a 
                class="nav-link active" 
                aria-current="page" 
                onclick='redirect(`<%= links['lockdown'].url %>`)'
              >
                <%= rootTexts['gallery'].en %>
              </a>
            </li>
            <!-- dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= rootTexts['gallery'].en %>
              </a>
              <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <% for( let i = 0; i < Object.values(links).length; i++ ) { %>
                    <li class="photography-board-content-navLinks-link">
                      <% if ( page.indexOf(Object.values(links)[i].title) !== -1 ) { %>
                        <a 
                          class="photography-board-content-activePage dropdown-item" 
                          onclick='redirect(`<%= links[Object.values(links)[i].title].url %>`)'
                          rel="noreferrer noopener" 
                          role="button" 
                        >
                          <%= rootTexts[Object.values(links)[i].title].en %>
                        </a>
                      <% } else { %>
                        <a 
                          class="btn btn-link dropdown-item" 
                          onclick='redirect(`<%= links[Object.values(links)[i].title].url %>`)'
                          rel="noreferrer noopener" 
                          role="button" 
                        >
                          <%= rootTexts[Object.values(links)[i].title].en %>
                        </a>
                      <% } %>
                    </li>
                  <% } %>
              </ul>
            </li>

            <li class="nav-item">
              <a 
                class="nav-link" 
                onclick='redirect(`<%= rootTexts['contact-url'].en %>`)'
              >
                <%= rootTexts['contact'].en %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="photography-board-content">
      <div class="photography-board-content-navLinks">
        <% for( let i = 0; i < Object.values(links).length; i++ ) { %>
          <div class="photography-board-content-navLinks-link">
            <% if ( page.indexOf(Object.values(links)[i].title) !== -1 ) { %>
              <a 
                class="photography-board-content-activePage" 
                onclick='redirect(`<%= links[Object.values(links)[i].title].url %>`)'
                rel="noreferrer noopener" 
                role="button" 
              >
                <%= rootTexts[Object.values(links)[i].title].en %>
              </a>
            <% } else { %>
              <a 
                class="btn btn-link" 
                onclick='redirect(`<%= links[Object.values(links)[i].title].url %>`)'
                rel="noreferrer noopener" 
                role="button" 
              >
                <%= rootTexts[Object.values(links)[i].title].en %>
              </a>
            <% } %>
          </div>
        <% } %>
      </div>
      <div class="photography-board-content-projectTitle">
        <% for( let i = 0; i < Object.values(links).length; i++ ) { %>
          <% if ( page.indexOf(Object.values(links)[i].title) !== -1 ) { %>
            <%= rootTexts[Object.values(links)[i].title].en %>
          <% } %>
        <% } %>
      </div>
      <div class="photography-board-content-sections snaps-inline">
        <% for( let i = 0; i < Object.values(sections).length; i++ ) { %>
          <% if ( Object.values(sections)[i].type === 'image-top' ) { %>
            <div class="photography-board-content-sections-imageTop photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-middle' ) { %>
            <div class="photography-board-content-sections-imageMiddle photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-bottom' ) { %>
            <div class="photography-board-content-sections-imageBottom photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-top-medium' ) { %>
            <div class="photography-board-content-sections-imageTop photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image-medium"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-middle-medium' ) { %>
            <div class="photography-board-content-sections-imageMiddle photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image-medium"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-bottom-medium' ) { %>
            <div class="photography-board-content-sections-imageBottom photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image-medium"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-top-small' ) { %>
            <div class="photography-board-content-sections-imageTop photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image-small photography-board-content-sections-element"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-middle-small' ) { %>
            <div class="photography-board-content-sections-imageMiddle photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image-small"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'image-bottom-small' ) { %>
            <div class="photography-board-content-sections-imageBottom photography-board-content-sections-element">
              <img 
                class="photography-board-content-sections-image-small"
                src=<%= Object.values(sections)[i].photo[0].url %>
                alt=<%= Object.values(sections)[i].alt %>
              >
            </div>
          <% } else if ( Object.values(sections)[i].type === 'text-top' ) { %>
            <div class="photography-board-content-sections-textTop photography-board-content-sections-element">
              <div class="photography-board-content-sections-textTitle ubuntu-h5-24px-bold">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="photography-board-content-sections-textDescription">
                <%= Object.values(sections)[i]['description-en'] %>
              </div>
            </div>
          <%} else if ( Object.values(sections)[i].type === 'text-middle' ) { %>
            <div class="photography-board-content-sections-textMiddle">
              <div class="photography-board-content-sections-textTitle ubuntu-h5-24px-bold">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="photography-board-content-sections-textDescription">
                <%= Object.values(sections)[i]['description-en'] %>
              </div>
            </div>
          <% } else if ( Object.values(sections)[i].type === 'text-bottom' ) { %>
            <div class="photography-board-content-sections-textBottom photography-board-content-sections-element">
              <div class="photography-board-content-sections-textTitle ubuntu-h5-24px-bold">
                <%= Object.values(sections)[i]['title-en'] %>
              </div>
              <div class="photography-board-content-sections-textDescription">
                <%= Object.values(sections)[i]['description-en'] %>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
    <div class="galleryFooter">
      <div 
      class="bar-mask"
      style="
          mask-image: url(<%= images['wave'].attachment[0].url %>);
          -webkit-mask-image: url(<%= images['wave'].attachment[0].url %>);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          mask-size: 100%;
          -webkit-mask-size: 100%;  
          "
      >
        <div class="progress">
          <div id="bar"></div>
          <!-- <img
            class="bar-mask-image"
            src=<%= images['wave'].attachment[0].url %>
          > -->
        </div>
      </div>
    </div>
  </section>

  
  <script>

    var w = window.innerWidth;
    var h = window.innerHeight;
    var screenWidth = $(window).width();

    const scrollContainer = document.querySelector(".photography-board-content-sections");
    const scrollContainerWidth = scrollContainer.scrollWidth;
    const scrollContainerHeight = scrollContainer.scrollHeight;
    
    const initialWidth = ( w / scrollContainerWidth ) *100 ;
    var width = initialWidth;
    
    //detect device
    const deviceType = () => {
      const ua = navigator.userAgent;
      if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
        return "tablet";
      }
      else if (/Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
        return "mobile";
      }
      return "desktop";
    };

    $(document).ready(function(){
      var elem = document.getElementById("bar");
      elem.style.width = initialWidth + "%";

      // if ( deviceType() === 'mobile' || deviceType() === 'tablet' ) {
      //   $(".progress").addClass('hide');
      // }

      if( w > 991 ) {
        $(".photography-board-nav-gallery").removeClass('hide');
        $(".dropdown").addClass('hide');
        $(".photography-board-content-navLinks").removeClass('hide');
        $(".photography-board-content-projectTitle").addClass('hide');
      } else {
        $(".photography-board-nav-gallery").addClass('hide');
        $(".dropdown").removeClass('hide');
        $(".photography-board-content-navLinks").addClass('hide');
        $(".photography-board-content-projectTitle").removeClass('hide');
      }
    });

    var i = 0;
    function move(offset) {
      var widthMemory = width;
      if (i == 0) {
        // i = 1;
        var elem = document.getElementById("bar");
        widthMemory = widthMemory + ( ( offset / scrollContainerWidth ) * 100 );
        // elem.style.width = width + offset;
        if ( widthMemory > initialWidth && widthMemory <= 101 ) {
          width = widthMemory;
        }
        elem.style.width = width + "%";
      }
    }

    let lastScreenLeft = 0;
    scrollContainer.addEventListener("wheel", (evt) => {
      if ( screenWidth >= 600 ) {
        evt.preventDefault();
        lastScreenLeft = scrollContainer.scrollLeft;
        scrollContainer.scrollLeft += evt.deltaY;
        move(evt.deltaY); 
      } else {

      }
    });
    scrollContainer.addEventListener("scroll", function(evt) {
      // let deltaY = scrollContainer.scrollLeft - lastScreenLeft;
      // lastScreenLeft = scrollContainer.scrollLeft;
      // move(deltaY);
      if ( screenWidth >= 600 && scrollContainer.scrollLeft && deviceType() !== "desktop" ) {
        // evt.preventDefault();
        console.log(deviceType())
        let deltaY = scrollContainer.scrollLeft - lastScreenLeft;
        lastScreenLeft = scrollContainer.scrollLeft;
        // scrollContainer.scrollLeft += evt.deltaY;
        move(deltaY); 
      } else {
        
      }
    });

    // toggle dropdown on nav
    $(window).resize(function() {
      // if ( deviceType() === 'mobile' || deviceType() === 'tablet' ) {
      //   $(".progress").addClass('hide');
      // }

      var screenWidth = $(window).width();
      if( screenWidth > 991 ) {
        $(".photography-board-nav-gallery").removeClass('hide');
        $(".dropdown").addClass('hide');
        $(".photography-board-content-navLinks").removeClass('hide');
        $(".photography-board-content-projectTitle").addClass('hide');
      } else {
        $(".photography-board-nav-gallery").addClass('hide');
        $(".dropdown").removeClass('hide');
        $(".photography-board-content-navLinks").addClass('hide');
        $(".photography-board-content-projectTitle").removeClass('hide');
      }
    });
    
    // console.log(scrollContainerWidth)

    //transition
    function startTransitionOverlay() {
      document.getElementById("globalLightTransitionCover").classList.add('show-globalLightTransitionCover');
    }
    function endTransitionOverlay() {
      document.getElementById("globalLightTransitionCover").classList.add('hide-globalLightTransitionCover');
    }
    function redirectAction(url) {
      window.location.href = url;
    }
    function redirect(url) {
      endTransitionOverlay();
      const myTimeout = setTimeout(redirectAction(url), 100);
    }
    startTransitionOverlay()

  
  </script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="index.js" charset="utf-8"></script> -->

</body>

</html>
