<%- include("header") -%>
<body class="mine">

    <div id="globalLightTransitionCover">
        <div class="globalLightTransitionCover-animation-box">
            <div class="globalLightTransitionCover-animation-spinContainer">
            <div class="globalLightTransitionCover-animation-holder">
                <div class="globalLightTransitionCover-animation-holder-bd">
                <img 
                    class="globalLightTransitionCover-animation-img"
                    src='<%= images.loading.attachment[0].url %>'
                    alt='<%= images.loading.alt %>'
                >
                </div>
            </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a 
                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                onclick='redirect(`<%= links.home.url %>`)'
                rel="noreferrer noopener" 
                role="button"
              >
                <i class="fa-solid fa-arrow-left-long"></i>  &nbsp;  <%= rootTexts.home.en %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= rootTexts['active-page'].en %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    onclick='redirect(`<%= links['nav-page-1'].url %>`)'
                                >
                                    <%= rootTexts['nav-page-1'].en %>
                                </a>
                            </li>
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    onclick='redirect(`<%= links['nav-page-2'].url %>`)'
                                >
                                    <%= rootTexts['nav-page-2'].en %>
                                </a>
                            </li>
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    onclick='redirect(`<%= links['nav-page-3'].url %>`)'
                                >
                                    <%= rootTexts['nav-page-3'].en %>
                                </a>
                            </li>
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    onclick='redirect(`<%= links['nav-page-4'].url %>`)'
                                >
                                    <%= rootTexts['nav-page-4'].en %>
                                </a>
                            </li>
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li> -->
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <div>
                    <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                        <li class="nav-item px-1">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                href=<%= links.instagram.url %>
                                rel="noreferrer noopener" 
                                role="button"
                                target='_blank'
                            >
                                <%= rootTexts['instagram'].en %>
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                href=<%= links.linkedin.url %>
                                rel="noreferrer noopener" 
                                role="button"
                                target='_blank'
                            >
                                <%= rootTexts['linkedin'].en %>
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.photography.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['photography'].en %>
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.graphics.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['graphics'].en %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section id="project-hero">
        <div class="project-hero-content">
            <div class="project-hero-content-header">
                <div class="project-hero-content-header-title ubuntu-h3-48px-bold">
                    <%= rootTexts['project-title'].en %>
                </div>
                <div class="project-hero-content-header-subtitle">
                    <%= rootTexts['project-subtitle'].en %>
                </div>
                <div class="project-hero-content-header-description">
                    <%= rootTexts['project-description'].en %>
                </div>
            </div>
            <% if ( rootTexts['project-assignment'] && rootTexts['project-objective'] && rootTexts['project-scope'] && rootTexts['project-yearTitle'] ) { %>
                <div class="project-hero-content-features">
                    <div class="project-hero-content-features-item">
                        <div class="project-hero-content-features-item-title ubuntu-body1-18px-bold">
                            <%= rootTexts['project-assignment'].en %>
                        </div>
                        <div class="project-hero-content-features-item-content">
                            <%= rootTexts['project-assignment-content'].en %>
                        </div>
                    </div>
                    <div class="project-hero-content-features-item">
                        <div class="project-hero-content-features-item-title ubuntu-body1-18px-bold">
                            <%= rootTexts['project-objective'].en %>
                        </div>
                        <div class="project-hero-content-features-item-content">
                            <%= rootTexts['project-objective-content'].en %>
                        </div>
                    </div>
                    <div class="project-hero-content-features-item">
                        <div class="project-hero-content-features-item-title ubuntu-body1-18px-bold">
                            <%= rootTexts['project-scope'].en %>
                        </div>
                        <div class="project-hero-content-features-item-content">
                            <%= rootTexts['project-scope-content'].en %>
                        </div>
                    </div>
                    <div class="project-hero-content-features-item">
                        <div class="project-hero-content-features-item-title ubuntu-body1-18px-bold">
                            <%= rootTexts['project-yearTitle'].en %>
                        </div>
                        <div class="project-hero-content-features-item-content">
                            <%= rootTexts['project-year'].en %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="project-hero-hr">
            <div class='hr-main'></div>
        </div>
    </section>

    <section id="project-projects">
        <% for( let i = 0; i < Object.values(sections).length; i++ ) { %>
            <% if ( Object.values(sections)[i].type === 'simpleVideo' ) { %>
                <div class="project-projects-simpleVideo">
                    <div class="project-projects-simpleVideo-videoHolder">
                        <video class="project-projects-simpleVideo-video" defaultMuted oncontextmenu="return false;" preload="auto" autoplay muted loop playsinline>
                            <source 
                              src=<%= Object.values(sections)[i]['attachment'][0].url %>
                              type="video/mp4"
                            >
                            <source
                              src=<%= Object.values(sections)[i]['attachment'][0].url %>
                              type="video/ogg"
                            >
                          Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            <% } else if( Object.values(sections)[i].type === 'simpleImage' ) { %>
                <div class="project-projects-simpleImage">
                    <div class="project-projects-simpleImage-imageHolder">
                        <img 
                            class="project-projects-simpleImage-image"
                            src=<%= Object.values(sections)[i]['attachment'][0].url %>
                            alt=<%= Object.values(sections)[i].alt %>
                        >
                    </div>
                </div>
            <% } else if ( Object.values(sections)[i].type === 'text' ) { %>
                <div class="project-projects-text">
                    <div class="project-projects-text-hr">
                        <div class='hr-main'></div>
                    </div>
                    <div class="project-projects-text-title ubuntu-h3-48px-bold">
                        <%= Object.values(sections)[i]['title-en'] %>
                    </div>
                    <div class="project-projects-text-description">
                        <%= Object.values(sections)[i]['description-en'] %>
                    </div>
                </div>
            <% } else if ( Object.values(sections)[i].type === 'mobile3Image' ) { %>
                <div class="project-projects-mobile3Image">
                    <div class="project-projects-mobile3Image-content">
                        <!-- device 1 -->
                        <div class="project-projects-mobile3Image-content-deviceHolder">
                            <div class="project-projects-mobile3Image-content-deviceHolder-imageHolder">
                              <img 
                                    class="project-projects-mobile3Image-content-deviceHolder-imageHolder-image"
                                    src=<%= Object.values(sections)[i]['mobileMedia-1'][0].url %>
                                    alt=<%= Object.values(sections)[i]['mobileMedia-1-alt'] %>
                                >
                            </div>
                            <div 
                              class="project-projects-mobile3Image-content-deviceHolder-maskGroup"
                              style="
                                mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                mask-size: 100%;
                                -webkit-mask-size: 100%;  
                              "
                            >
                              <img
                                class="project-projects-mobile3Image-content-deviceHolder-maskGroup-mobileBody-iphone12"
                                src=<%= images['mobile-body-iphone12'].attachment[0].url %>
                              >
                            </div>
                        </div>
                        <!-- device 2 -->
                        <div class="project-projects-mobile3Image-content-deviceHolder">
                            <div class="project-projects-mobile3Image-content-deviceHolder-imageHolder">
                              <img 
                                    class="project-projects-mobile3Image-content-deviceHolder-imageHolder-image"
                                    src=<%= Object.values(sections)[i]['mobileMedia-2'][0].url %>
                                    alt=<%= Object.values(sections)[i]['mobileMedia-2-alt'] %>
                                >
                            </div>
                            <div 
                              class="project-projects-mobile3Image-content-deviceHolder-maskGroup"
                              style="
                                mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                mask-size: 100%;
                                -webkit-mask-size: 100%;  
                              "
                            >
                              <img
                                class="project-projects-mobile3Image-content-deviceHolder-maskGroup-mobileBody-iphone12"
                                src=<%= images['mobile-body-iphone12'].attachment[0].url %>
                              >
                            </div>
                        </div>
                        <!-- device 3 -->
                        <div class="project-projects-mobile3Image-content-deviceHolder">
                            <div class="project-projects-mobile3Image-content-deviceHolder-imageHolder">
                              <img 
                                    class="project-projects-mobile3Image-content-deviceHolder-imageHolder-image"
                                    src=<%= Object.values(sections)[i]['mobileMedia-3'][0].url %>
                                    alt=<%= Object.values(sections)[i]['mobileMedia-3-alt'] %>
                                >
                            </div>
                            <div 
                              class="project-projects-mobile3Image-content-deviceHolder-maskGroup"
                              style="
                                mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                mask-size: 100%;
                                -webkit-mask-size: 100%;  
                              "
                            >
                              <img
                                class="project-projects-mobile3Image-content-deviceHolder-maskGroup-mobileBody-iphone12"
                                src=<%= images['mobile-body-iphone12'].attachment[0].url %>
                              >
                            </div>
                        </div>
                    </div>
                </div>
            <% } else if ( Object.values(sections)[i].type === 'mobile3Video' ) { %>
                <div class="project-projects-mobile3Video">
                    <div class="project-projects-mobile3Video-content">
                        <!-- device 1 -->
                        <div class="project-projects-mobile3Video-content-deviceHolder">
                            <div class="project-projects-mobile3Video-content-deviceHolder-videoHolder">
                                <video class="project-projects-mobile3Video-content-deviceHolder-videoHolder-video" defaultMuted oncontextmenu="return false;" preload="auto" playsinline autoplay muted loop>
                                    <source 
                                        src=<%= Object.values(sections)[i]['mobileMedia-1'][0].url %>
                                        type="video/mp4"
                                    >
                                    <source
                                        src=<%= Object.values(sections)[i]['mobileMedia-1'][0].url %>
                                        type="video/ogg"
                                    >
                                    <%= Object.values(sections)[i]['mobileMedia-1-alt'] %>
                                </video>
                            </div>
                            <div 
                              class="project-projects-mobile3Video-content-deviceHolder-maskGroup"
                              style="
                                mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                mask-size: 100%;
                                -webkit-mask-size: 100%;  
                              "
                            >
                              <img
                                class="project-projects-mobile3Video-content-deviceHolder-maskGroup-mobileBody-iphone12"
                                src=<%= images['mobile-body-iphone12'].attachment[0].url %>
                              >
                            </div>
                        </div>
                        <!-- device 2 -->
                        <div class="project-projects-mobile3Video-content-deviceHolder">
                            <div class="project-projects-mobile3Video-content-deviceHolder-videoHolder">
                                <video class="project-projects-mobile3Video-content-deviceHolder-videoHolder-video" defaultMuted oncontextmenu="return false;" preload="auto" playsinline autoplay muted loop>
                                    <source 
                                        src=<%= Object.values(sections)[i]['mobileMedia-2'][0].url %>
                                        type="video/mp4"
                                    >
                                    <source
                                        src=<%= Object.values(sections)[i]['mobileMedia-2'][0].url %>
                                        type="video/ogg"
                                    >
                                    <%= Object.values(sections)[i]['mobileMedia-2-alt'] %>
                                </video>
                            </div>
                            <div 
                              class="project-projects-mobile3Video-content-deviceHolder-maskGroup"
                              style="
                                mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                mask-size: 100%;
                                -webkit-mask-size: 100%;  
                              "
                            >
                              <img
                                class="project-projects-mobile3Video-content-deviceHolder-maskGroup-mobileBody-iphone12"
                                src=<%= images['mobile-body-iphone12'].attachment[0].url %>
                              >
                            </div>
                        </div>
                        <!-- device 3 -->
                        <div class="project-projects-mobile3Video-content-deviceHolder">
                            <div class="project-projects-mobile3Video-content-deviceHolder-videoHolder">
                                <video class="project-projects-mobile3Video-content-deviceHolder-videoHolder-video" defaultMuted oncontextmenu="return false;" preload="auto" playsinline autoplay muted loop>
                                    <source 
                                        src=<%= Object.values(sections)[i]['mobileMedia-3'][0].url %>
                                        type="video/mp4"
                                    >
                                    <source
                                        src=<%= Object.values(sections)[i]['mobileMedia-3'][0].url %>
                                        type="video/ogg"
                                    >
                                    <%= Object.values(sections)[i]['mobileMedia-3-alt'] %>
                                </video>
                            </div>
                            <div 
                              class="project-projects-mobile3Video-content-deviceHolder-maskGroup"
                              style="
                                mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-image: url(<%= images['mobile-mask-iphone12'].attachment[0].url %>);
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                mask-size: 100%;
                                -webkit-mask-size: 100%;  
                              "
                            >
                              <img
                                class="project-projects-mobile3Video-content-deviceHolder-maskGroup-mobileBody-iphone12"
                                src=<%= images['mobile-body-iphone12'].attachment[0].url %>
                              >
                            </div>
                        </div>
                    </div>
                </div>
            <% } else if ( Object.values(sections)[i].type === 'laptopVideo' ) { %>
                <div class="project-projects-laptopVideo">
                    <div class="project-projects-laptopVideo-macbook">
                        <div class="project-projects-laptopVideo-macbook-videoHolder">
                          <video class="project-projects-laptopVideo-macbook-videoHolder-video" defaultMuted oncontextmenu="return false;" preload="auto" playsinline autoplay muted loop >
                            <source 
                              src=<%= Object.values(sections)[i]['attachment'][0].url %>
                              type="video/mp4"
                            >
                            <source
                              src=<%= Object.values(sections)[i]['attachment'][0].url %>
                              type="video/ogg"
                            >
                            Your browser does not support the video tag.
                          </video>
                        </div>
                        <div 
                          class="project-projects-laptopVideo-maskGroup"
                          style="
                            mask-image: url(<%= images['macbook-mask'].attachment[0].url %>);
                            -webkit-mask-image: url(<%= images['macbook-mask'].attachment[0].url %>);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            mask-size: 100%;
                            -webkit-mask-size: 100%;  
                          "
                        >
                          <img
                            class="project-projects-laptopVideo-maskGroup-macbookBody"
                            src=<%= images['macbook-body'].attachment[0].url %>
                            <!-- mask="url(#mask)" -->
                          >
                        </div>
                    </div>
                </div>
            <% } else if ( Object.values(sections)[i].type === 'laptopImage' ) { %>
                <div class="project-projects-laptopImage">
                    <div class="project-projects-laptopImage-macbook">
                        <div class="project-projects-laptopImage-macbook-imageHolder">
                            <img
                                class="project-projects-laptopImage-macbook-imageHolder-image"
                                src=<%= Object.values(sections)[i]['attachment'][0].url %>
                                alt=<%= Object.values(sections)[i].alt %>
                                <!-- mask="url(#mask)" -->
                            >
                        </div>
                        <div 
                          class="project-projects-laptopImage-maskGroup"
                          style="
                            mask-image: url(<%= images['macbook-mask'].attachment[0].url %>);
                            -webkit-mask-image: url(<%= images['macbook-mask'].attachment[0].url %>);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            mask-size: 100%;
                            -webkit-mask-size: 100%;  
                          "
                        >
                          <img
                            class="project-projects-laptopImage-maskGroup-macbookBody"
                            src=<%= images['macbook-body'].attachment[0].url %>
                            <!-- mask="url(#mask)" -->
                          >
                        </div>
                    </div>
                </div>
            <% } else if ( Object.values(sections)[i].type === 'mobileSE1Video' ) { %>
                <div class="project-projects-mobileSE1Video">
                    <div class="project-projects-mobileSE1Video-mobile">
                        <div class="project-projects-mobileSE1Video-mobile-videoHolder">
                          <video class="project-projects-mobileSE1Video-mobile-videoHolder-video" defaultMuted oncontextmenu="return false;" preload="auto" playsinline autoplay muted loop>
                            <source 
                              src=<%= Object.values(sections)[i]['attachment'][0].url %>
                              type="video/mp4"
                            >
                            <source
                              src=<%= Object.values(sections)[i]['attachment'][0].url %>
                              type="video/ogg"
                            >
                          Your browser does not support the video tag.
                          </video>
                        </div>
                        <div 
                          class="project-projects-mobileSE1Video-mobile-maskGroup"
                          style="
                            mask-image: url(<%= images['mobile-mask'].attachment[0].url %>);
                            -webkit-mask-image: url(<%= images['mobile-mask'].attachment[0].url %>);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            mask-size: 100%;
                            -webkit-mask-size: 100%;  
                          "
                        >
                          <img
                            class="project-projects-mobileSE1Video-mobile-mobileBody"
                            src=<%= images['mobile-body'].attachment[0].url %>
                          >
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </section>
    <% if ( links['cta-button'].url ) { %>
        <section id="project-cta">
            <div class="project-cta-hr">
                <div class='hr-main'></div>
            </div>
            <div class="project-cta-title ubuntu-h3-48px-bold">
                <%= rootTexts['cta-title'].en %>
            </div>
            <div class="project-cta-description">
    
            </div>
            <div class="project-cta-button">
                <a 
                    class="project-cta-button-text-primary" 
                    href=<%= links['cta-button'].url %> 
                    rel="noreferrer noopener" 
                    role="button"
                    target='_blank'
                >
                    <button type="button" class="btn btn-primary" >
                        <%= rootTexts['cta-button'].en %>
                    </button>
                </a>
            </div>
        </section>
    <% } %>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="index.js" charset="utf-8"></script> -->

</body>

<%- include("footer") -%>