<%- include("header") -%>
<body class="mine">
    <%- include("loading") -%>

    <div>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a 
                class="btn btn-link navbar navbar-expand-lg bg-dark mx-3" 
                onclick='redirect(`<%= links.home.url %>`)'
                rel="noreferrer noopener" 
                role="button"
            >
                <i class="fa-solid fa-arrow-left-long"></i>  &nbsp;  <%= rootTexts.home[`${language}`] %>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-3 mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <% if(rootTexts['nav-page-1']){ %>
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= rootTexts['active-page'][`${language}`] %>
                            </a>
                        <% } else { %>
                            <a class="nav-link active" >
                                <%= rootTexts['active-page'][`${language}`] %>
                            </a>
                        <% } %>
                        <% if(rootTexts['nav-page-1']){ %>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% let navLinksCount = 1 %>
                                <% while(rootTexts['nav-page-' + navLinksCount]){ %>
                                    <li>
                                        <a 
                                            class="dropdown-item" 
                                            onclick='redirect(`<%= links['nav-page-' + navLinksCount].url %>`)'
                                            rel="noreferrer noopener" 
                                            role="button"
                                        >
                                            <%= rootTexts['nav-page-' + navLinksCount][`${language}`] %>
                                        </a>
                                    </li>
                                    <% navLinksCount++ %>
                                <% } %>
                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                            </ul>
                        <% } %>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <div>
                    <ul class="navbar-nav me-3 ms-auto mb-2 mb-lg-0">
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link1.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link1'][`${language}`] %>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link2.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link2'][`${language}`] %>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link3.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link3'][`${language}`] %>
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a 
                                class="btn btn-link navbar navbar-expand-lg bg-dark" 
                                onclick='redirect(`<%= links.link4.url %>`)'
                                rel="noreferrer noopener" 
                                role="button"
                            >
                                <%= rootTexts['link4'][`${language}`] %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- New Section  -->
    <section id="services" data-scroll-section>
        <div class="services-header">
          <div class="services-header-title ubuntu-h3-48px-bold">
            <%= rootTexts['services-title'][`${language}`] %>
          </div>
          <div class="services-header-description ubuntu-body1-18px-light">
            <%= rootTexts['services-content'][`${language}`] %>
          </div>
        </div>
        <div class="services-content">
          <div class="services-content-group">
            <div class="services-content-group-item">
              <div class="services-content-group-item-title ubuntu-h5-24px-bold">
                <%= rootTexts['services-item-title-1'][`${language}`] %>
              </div>
              <div class="services-content-group-item-description ubuntu-body1-18px-light">
                <%= rootTexts['services-item-description-1'][`${language}`] %>
              </div>
            </div>
            <div class="services-content-group-item">
              <div class="services-content-group-item-title ubuntu-h5-24px-bold">
                <%= rootTexts['services-item-title-2'][`${language}`] %>
              </div>
              <div class="services-content-group-item-description ubuntu-body1-18px-light">
                <%= rootTexts['services-item-description-2'][`${language}`] %>
              </div>
            </div>
          </div>
          <div class="services-content-group">
            <div class="services-content-group-item">
              <div class="services-content-group-item-title ubuntu-h5-24px-bold">
                <%= rootTexts['services-item-title-3'][`${language}`] %>
              </div>
              <div class="services-content-group-item-description ubuntu-body1-18px-light">
                <%= rootTexts['services-item-description-3'][`${language}`] %>
              </div>
            </div>
            <div class="services-content-group-item">
              <div class="services-content-group-item-title ubuntu-h5-24px-bold">
                <%= rootTexts['services-item-title-4'][`${language}`] %>
              </div>
              <div class="services-content-group-item-description ubuntu-body1-18px-light">
                <%= rootTexts['services-item-description-4'][`${language}`] %>
              </div>
            </div>
          </div>
        </div>
        <div class="services-hr">
          <div class='hr-tertiary'></div>
        </div>
      </section>

    <!-- New Section  -->
    <section id="aboutMe" data-scroll-section>
      <div class="aboutMe-header ubuntu-h3-48px-bold">
        <%= rootTexts['about-title'][`${language}`] %>
      </div>
      <div class="aboutMe-content">
        <div class="aboutMe-content-portraitHolder">
          <img 
            class="aboutMe-content-portraitHolder-portrait"
            src=<%= images['fong-photo'].attachment[0].url %>
            alt=<%= images['fong-photo'].alt %>
          >
        </div>
        <div class="aboutMe-content-texts">
          <div class="aboutMe-content-texts-title ubuntu-h5-24px-bold">
            <%= rootTexts['about-greeting'][`${language}`] %>
          </div>
          <div class="aboutMe-content-texts-description ubuntu-body1-18px-light">
            <%= rootTexts['about-description'][`${language}`] %>
          </div>
        </div>
      </div>
      <div class="aboutMe-hr">
        <div class='hr-tertiary'></div>
      </div>
    </section>

    <!-- New Section 5 -->
    <%- include("sections") -%>

<%- include("footer") -%>